[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Administrators
	create = group t6 maintainers
	forgeCommitter = group t6 maintainers
	label-Code-Review = -2..+2 group t6 maintainers
	label-Verified = -1..+1 group t6 maintainers
	rebase = group t6 maintainers
	submit = group t6 maintainers
